{% extends 'layout.html' %}

{% block title %}Jardin Erard{% endblock %}

{% block content %}
<h2>Mesures</h2>
<p class='{{class2}}'> Nous sommes le {{ maintenant.strftime('%A %d %B %Y') }}, il est
{{maintenant.strftime('%H:%M') }} et le dernier enregistrement date de
{{delta_last_record}} secondes ({{last_record.strftime('%H:%M')}}). </p>

<!--
<div class="container" class="progress" style="position: relative;">
<p> Remplissage du bac
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{remplissage}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{remplissage}}%</div>
</div>
-->

<div class="chart-container" style="position: relative;">

  <canvas id="canvas"></canvas>

</div>

<div class="chart-container" style="position: relative;">

  <canvas id="canvas2"></canvas>

</div>
<div class="chart-container" style="position: relative;">

  <canvas id="canvas3"></canvas>

</div>
<script>
  var config = {
    type: 'line',
    data: {
      datasets: [{% for dataset in datasets_temperature %}
      {
        label: "{{dataset.nom}}",
        backgroundColor: "{{dataset.backgroundColor}}",
        borderColor: "{{dataset.borderColor}}",
	pointRadius: "0",
        data: [{% for value1,value2 in dataset.values %}
          {x: "{{value1.strftime('%Y-%m-%dT%H:%M:%SZ') }}",
          y: {{value2}}
          },
          {% endfor %}
        ],
        fill: false,
      },
      {% endfor %}
    ]
    },
    options: {
      scales: {
        x: {
          type: 'time',
          time: {
          unit: 'hour',
          displayFormats: {
            day: 'DD',
            hour: 'dd LLL T'
          }
        }
      }
    }
    }
  };
  var config2 = {
    type: 'line',
    data: {
      datasets: [{% for dataset in datasets_hygrometrie %}
      {
        label: "{{dataset.nom}}",
        backgroundColor: "{{dataset.backgroundColor}}",
        borderColor: "{{dataset.borderColor}}",
	pointRadius: "0",
        data: [{% for value1,value2 in dataset.values %}
          {x: "{{value1.strftime('%Y-%m-%dT%H:%M:%SZ') }}",
          y: {{value2}}
          },
          {% endfor %}
        ],
        fill: false,
      },
      {% endfor %}
    ]
    },
    options: {
      scales: {
        x: {
          type: 'time',
          time: {
          unit: 'hour',
          displayFormats: {
            day: 'DD',
            hour: 'dd LLL T'
          }
        }
      }
    }
    }
  };
  var config3 = {
    type: 'line',
    data: {
      datasets: [{% for dataset in datasets_niveau %}
      {
        label: "{{dataset.nom}}",
        backgroundColor: "{{dataset.backgroundColor}}",
        borderColor: "{{dataset.borderColor}}",
	pointRadius: "0",
        data: [{% for value1,value2 in dataset.values %}
          {x: "{{value1.strftime('%Y-%m-%dT%H:%M:%SZ') }}",
          y: {{value2}}
          },
          {% endfor %}
        ],
        fill: false,
      },
      {% endfor %}
    ]
    },
    options: {
      scales: {
        x: {
          type: 'time',
          time: {
          unit: 'hour',
          displayFormats: {
            day: 'DD',
            hour: 'dd LLL T'
          }
        }
      }
    }
    }
  };
  window.onload = function() {
    var ctx = document.getElementById('canvas').getContext('2d');
    window.myLine = new Chart(ctx, config);
    var ctx = document.getElementById('canvas2').getContext('2d');
    window.myLine = new Chart(ctx, config2);
    var ctx = document.getElementById('canvas3').getContext('2d');
    window.myLine = new Chart(ctx, config3);
      };

</script>
{% endblock %}
